/env/
/.vs/
/.suo/
/.vs/Image-Processing-Advanced/FileContentIndex/7e292750-e044-4135-8f5b-0433434108b1.vsidx
/.vs/Image-Processing-Advanced/FileContentIndex/49d9270d-bda6-4dca-9f72-f9b9487dc4eb.vsidx
/.vs/Image-Processing-Advanced/FileContentIndex/5f3ced72-6ede-401c-a05a-e294e67efaf5.vsidx
/.vs/Image-Processing-Advanced/FileContentIndex/9c2940d2-f292-4fa4-9a7b-5e1befad9e65.vsidx
/.vs/Image-Processing-Advanced/FileContentIndex/d18d497b-e36f-4305-978c-29b35b56a228.vsidx
/.vs/Image-Processing-Advanced/v17/fileList.bin
/.vs/Image-Processing-Advanced/v17/.suo
